* {
    box-sizing: border-box;
}

#splash {
    display: flex;
    flex-direction: column;
}

#navbar {}

#upper {
    background-color: green;
    font-size: 70px;
    color: saddlebrown;
}

#lower {
    background-color: red;
    font-size: 40px;
}
